# Virtual environment
venv/

# Python cache files
*.pyc
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Ignore all contents of the data directory
data/*

# Optionally exclude specific files you want to keep in data/
!data/.keep 

# Generated pdf reports
reports/